<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered">
			<tr *ngFor="let event of events">
				<td class="align-left">{{event.EventDate | date:"dd/MM/yy"}}</td>
				<td class="align-left" [innerHTML]="event.Description">
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<div>
			<p>totaal te boeken: <strong>{{unitsToBook}}</strong> eenheden</p>
		</div>
		<div>
			<table class="table">
				<tr *ngFor="let line of booking.Lines">
					<td class="align-left">{{line.WaId}}</td>
					<td class="align-left">{{line.WaName}}</td>
					<td class="align-left">{{line.WaBalance}}</td>
					<td width="100px" class="align-left"><input type="number" class="form-control" [(ngModel)]="line.NrBooked" id="input01"></td>
					<td>{{line.isValid()}}</td>
				</tr>
			</table>
		</div>
		<div>
			<button type="submit" [disabled]="!readyForSubmission" class="btn btn-primary pull-right confbutton"><i class="fa fa-floppy-o" aria-hidden="true"></i> Boeken</button>
		</div>
	</div>
</div>