.padded02{
    padding-top: 10px;
    padding-bottom:6px;
}

.formrow{
    margin-top:10px;
    margin-bottom:10px;
}

.confbutton{
    margin-top:10px;
    margin-left:10px;
    margin-bottom: 10px;
}